/*=========Extra Lage Device(xl)============*/
/*---Laptop, Desktop, any big monitor---*/


@media (min-width: 1200px) and (max-width: 1500px) {}


/*=========Lage Device(l)============*/
/*---Laptop, Desktop, tablet---*/


@media (min-width: 992px) and (max-width: 1199px) {
    .banner_content {
        padding-left: 50px;
        text-align: right;
        box-sizing: border-box;
        margin-right: 80px;
    }

    .footer_part p {
        color: #f1f1f1;
        font-size: 12px;
        padding-bottom: 25px;
        line-height: 24px;
    }

    .contact ul li {
        margin-bottom: -20px;
        padding: 0;
    }

    .gallary ul li img {
        margin-right: 4px;
    }

    .links {
        padding-right: 5px;
    }
}


/*=========Medium Device(md)============*/
/*---Laptop, Tablet---*/


@media (min-width: 768px) and (max-width: 991px) {
    .links ul li {
        margin-bottom: 15px;
    }
}


/*=========Small Device(sm)============*/
/*---Smart Phone, Windows Phone, Java Phone Landscape---*/


@media only screen and (min-width: 576px) and (max-width: 767) {
    .top_info p {
        margin-bottom: ;
        color: #fff;
        margin: 0px 0;
        padding: 10px 0;
        font-size: 13px;
    }

    .social ul {
        margin-top: -36px;
    }

    .menu {
        text-align: center;
    }




    .banner_content h1 {
        font-size: 34px;
        color: #fff;
        padding: ;
        font-weight: bold;
    }

    .banner_content h2 {
        font-size: 24px;
        color: #fff;
        padding-top: 40px;
    }

    .portfolio_content {
        margin-top: 20px;
    }

    .team {
        margin-top: 30px;
    }

    .contact ul li {
        margin-bottom: -15px;
        padding: 0;
    }

    .links {
        padding-right: 20px;
        margin-right: 50px;
    }

    .gallary ul li {
        margin-bottom: 30px;
    }

    .gallary ul li img {
        margin-right: 30px;
    }
}


/*=========Extra Small Device(xsm)============*/
/*---Button Phone, Windows Phone, Java Phone---*/

@media (min-width: 320px) and (max-width: 575px) {
    .top_info p {
        margin-bottom: ;
        color: #fff;
        margin: 0px 0;
        padding: 6px 0;
        font-size: 12px;
    }

    .social ul {
        margin-top: -36px;
    }

    .social ul li a i {
        padding: 3px;
        margin: 0 3px;
        line-height: ;
        font-size: 12px;
    }

    .menu {
        text-align: center;
    }

    .carousel-item {
        position: relative;
        max-height: 200px;
    }

    .banner_content h2 {
        font-size: 16px;
        color: #fff;
        padding-top: 10px;
    }

    .banner_content h1 {
        color: #fff;
        padding: ;
        font-weight: bold;
        font-size: 25px;
    }

    .banner_content p {
        font-size: 11px;
        color: #fff;
        padding: 10px 0 8px 0;
    }

    .banner_content {
        padding-left: 50px;
        text-align: right;
        box-sizing: border-box;
        margin-right: 30px;
    }

    .bn-btn {
        border: 1px solid #fff;
        padding: 3px 8px;
        display: inline;
        margin-right: 5px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
    }

    .heading h1 {
        font-size: 18px;
        color: #353535;
        padding-top: 30px;
        padding-bottom: 2px;
        font-weight: bold;
        font-family: ;
        position: relative;
        text-transform: uppercase;
    }

    .about_heading img.seperator {
        margin-left: -35px;
        bottom: 0;
        position: absolute;
    }

    .content {
        padding-top: 20px;
    }

    .content .text p {
        color: #555555;
        padding-top: 18px;
        line-height: 18px;
        font-size: 11px;
        text-align: justify;
    }

    .service_heading img.seperator {
        margin-left: -53px;
        bottom: 0;
        position: absolute;
    }

    .service {
        background-color: ;
        margin-top: -25px;
    }

    .portfolio_heading img.seperator {
        margin-left: -58px;
        bottom: 0;
        position: absolute;
    }

    .portfolio_content {
        margin-top: 20px;
    }

    .team_heading img.seperator {
        margin-left: -35px;
        bottom: 0;
        position: absolute;
    }

    .team {
        margin-top: 20px;
    }

    .team_des h3 {
        font-size: 14px;
        font-weight: 600px;
        color: #353535;
        padding-top: 8px;
    }

    .team_des h5 {
        font-size: 10px;
        font-weight: 400px;
        color: #555555;
        line-height: 24px;
    }

    .feedback h3 {
        font-size: 14px;
        padding-top: 20px;
        margin-bottom: -3px;
        font-weight: bold;
        color: #353535;
        text-transform: uppercase;
    }

    .feedback h5 {
        font-size: 10px;
        margin-top: -14px;
        padding-bottom: 0;
        font-weight: 500;
        color: #555555;
    }

    .feedback p {
        font-size: 10px;
        padding: 0 20px;
        font-weight: 400;
        padding-top: 8px;
        padding-bottom: 20px;
        line-height: 18px;
        color: #555555;
        font-family: 'oswald', sans-serif;
    }

    .footer_part h3 {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        padding: 20px 0;
    }

    .footer_part p {
        color: #f1f1f1;
        font-size: 10px;
        padding-bottom: 18px;
        line-height: 18px;
    }

    .contact ul li {
        margin-bottom: -0px;
        padding: 0;
    }

    .contact ul li .icon i {
        height: 36px;
        width: 36px;
        padding-top: 8px;
        background-color: skyblue;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        color: #fff;
        margin-right: 8px;
        margin-top: -2px;
    }

    .links {
        padding-right: 50px;
    }

    .links ul li {
        margin-bottom: 18px;
    }

    .links ul li a {
        padding: 3px 0;
        color: #f1f1f1;
        font-size: 11px;
        line-height: 18px;
    }

    .gallary ul li img {
        margin-right: 4px;
    }

    .copyr p {
        padding: 10px 0;
        color: #f1f1f1;
        font-size: 10px;
    }
}
